@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    /* Colors */
    /* Primary */
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-orangey-yellow: hsl(39, 100%, 56%);
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */
    /* Background */
    --gradient-light-slate-blue: hsl(252, 100%, 67%);
    --gradient-light-royal-blue: hsl(241, 81%, 54%);
    /* Circle */
    --gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);

    /* Typography */
    /* Body Copy */
    --body-font-size: 16px;

    /* Font */
    --font-family: "Hanken Grotesk", sans-serif;
    ;
    /* Changez la famille de police selon vos besoins */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-size: var(--body-font-size);
    font-family: var(--font-family);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-pale-blue);
}

.summary {
    display: flex;
    max-width: 600px;
    border-radius: 15px;
    background-color: var(--neutral-white);
}

.summary-left {
    background: linear-gradient(to bottom, var(--gradient-light-slate-blue), var(--gradient-light-royal-blue));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 40px;
    gap: 25px;
    border-radius: 15px;
    color: var(--neutral-light-lavender);
    width: 45%;
}

.summary-score {
    background: linear-gradient(to bottom, var(--gradient-violet-blue), var(--gradient-persian-blue));
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.summary-score-number {
    font-size: 3rem;
    font-weight: 800;
    color: white;
}
.summary-title {
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.summary-description{
    font-size: smaller;
    text-align: center;
}
.summary-right {
    border-radius: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 35px;
    margin: 0 auto;
}


.bold {
    font-weight: bold;
}


.summary-right-task {
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.summary-right-task-indication {
    display: flex;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;


}

.summary-right button {
    width: 100%;
    border-radius: 30px;
    padding: 15px 10px;
    background-color: var(--neutral-dark-gray-blue);
    border: 0;
    color: var(--neutral-white);
    margin-top: 20px;
}

.summary-right button:hover {
    background: var(--gradient-violet-blue);
}



/* bg*/
.light-red-bg {
    background-color: hsl(0, 100%, 96%);
}

.orangey-yellow-bg {
    background-color: hsl(39, 100%, 96%);
}

.green-teal-bg {
    background-color: hsl(166, 100%, 92%);
}

.cobalt-blue-bg {
    background-color: hsl(234, 85%, 94%);
}

/* text-colors*/
.light-red-text {
    color: hsl(0, 100%, 67%);
}

.orangey-yellow-text {
    color: hsl(39, 100%, 55%);
}

.green-teal-text {
    color: hsl(166, 100%, 37%);
}

.cobalt-blue-text {
    color: hsl(234, 85%, 54%);
}

.neutral-light-text {
    font-weight: 600;
    color: gray
}



@media screen and (max-width : 375px) {
    body {

        font-size: var(--body-font-size);
        font-family: var(--font-family);



        background-color: var(--neutral-pale-blue);

    }

    .summary {
        display: flex;
        flex-direction: column;


        width: 100%;


    }

    .summary-left {

        width: 100%;
        border-radius: 15px;
    }

    .summary-right {

        width: 100%;
        display: flex;
        gap: 20px;
    }
}